{% extends 'layouts/base.html.twig' %}

{% block title "A propos de nous" %}

{% block body %}
<div class="container py-12">
  <twig:Container>
    <twig:PageHeader class="mb-3" title="A propos de nous">
      Vous avez un problème technique ? Vous souhaitez envoyer des
      commentaires sur une fonctionnalité bêta ? Besoin de détails sur notre
      plan Business ? Faites le nous savoir.
    </twig:PageHeader>
  </twig:Container>
</div>
{% endblock %}