{% extends 'layouts/base.html.twig' %}

{% block title "A propos de nous" %}

{% block body %}
<div class="container py-12">
  <div class="container-center">
    <twig:PageHeader class="mb-3" title="A propos de nous">
      Ce projet s’inscrit dans le cadre d’un travail de mémoire intitulé :
      <span class="font-semibold">
        "Création d'une application web et mobile pour les contrôles de frais académiques à l'aide de QR Code (cas
        UNIKIN)".
      </span>
    </twig:PageHeader>

    <div>

      <p class="text-description mb-4">
        L’objectif principal de ce travail est de proposer une solution numérique innovante pour simplifier, sécuriser
        et moderniser le processus de gestion des frais académiques à l’Université de Kinshasa (UNIKIN). En utilisant
        les technologies web et mobiles, ainsi que les QR Codes, cette application vise à :
      </p>
      <ul class="list-disc list-inside text-description mb-4">
        <li>Faciliter le suivi des paiements des étudiants.</li>
        <li>Réduire les pertes et les falsifications des bordereaux papier.</li>
        <li>Offrir un accès rapide et pratique aux informations de paiement via une plateforme intégrée.</li>
      </ul>
      <p class="text-description mb-4">
        Ce projet est le fruit d’une recherche approfondie et d’un développement technique, dans l’objectif de répondre
        aux besoins spécifiques des étudiants et de l’administration académique de l’UNIKIN.
      </p>
      <p class="text-description">
        Nous espérons que cette solution contribuera à l’amélioration des services académiques tout en offrant une
        expérience utilisateur fluide et moderne.
      </p>
      <div class="mt-6">
        <p class="text-description font-semibold">
          Auteur : <span class="font-normal">Saint-Jean Dungu</span>
        </p>
        <p class="text-description font-semibold">
          Encadreur : <span class="font-normal">Assistant Oshasha</span>
        </p>
        <p class="text-description font-semibold">
          Institution : <span class="font-normal">Université de Kinshasa</span>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}