{% extends 'layouts/student.html.twig' %}

{% block title "En savoir plus sur le Qrcode de paiement" %}

{% block body %}
<div class="bg-card p-5">
  <h2>En savoir plus sur le Qrcode de paiement #{{ qrcode.id }}</h2>
</div>
{% endblock %}