{% extends 'layouts/student.html.twig' %}
{% block title "Tableau de bord" %}
{% block body %}
<twig:Card>
  <div class="max-w-lg mb-4">
    <h1 class="mb-3 text-base font-semibold text-slate-700 dark:text-gray-300">
      Paiement
    </h1>
  </div>

  <div class="flex items-center justify-start gap-x-3 mb-4">
    <twig:Search placeholder="Rechercher un frais académique" />
  </div>

  {% for paid in paids %}

  <div class="mb-3">
    {% include "student/paid/_state-paid.html.twig" with {paid: paid, eye: true} %}
  </div>
  {% endfor %}
  <div>
    {{ knp_pagination_render(paids) }}
  </div>
</twig:Card>
{% endblock %}