{% extends 'layouts/admin.html.twig' %}

{% block title %}
    Editer l'option #{{ sector.id }}
{% endblock %}

{% block body %}
  <twig:Card >
  <div class="max-w-lg mb-4">
      <h1 class="mb-3 text-base font-semibold text-slate-700 dark:text-gray-300">
       Editer l'option #{{ sector.id }}
      </h1>
    </div>

    {% include "admin/sector/_form.html.twig" with {form: form} %}

    </twig:Card>
{% endblock %}