{% extends 'layouts/base.html.twig' %}

{% block title "Page d'accueil" %}

{% block hero %}
{% include "welcome/hero.html.twig" %}
{% endblock %}

{% block body %}

<div class="container py-12">
  <h2>A propos de nous</h2>
</div>
{% endblock %}