{% extends 'layouts/student.html.twig' %}
{% block title "Selection des tranches a payés" %}
{% block body %}
<twig:Card>
  <div class="max-w-lg mb-4">
    <h1 class="mb-3 text-base font-semibold text-slate-700 dark:text-gray-300">
      Selection des tranches
    </h1>
  </div>

  <div class="">
    <h2 class="text-sm font-semibold text-muted-foreground">{{ amount.price|number_format(2, '.', ',') }}Fc</h2>
    <ul class="text-sm text-muted-foreground">
      {% for installment in amount.installments %}
      <li>
        {{ installment.price|number_format(2, '.', ',') }}Fc
      </li>
      {% endfor %}
    </ul>
  </div>

</twig:Card>
{% endblock %}