@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-display: swap;
  src: url("./../fonts/Inter-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: 500;
  font-display: swap;
  src: url("./../fonts/Inter-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-display: swap;
  src: url("./../fonts/Inter-Bold.woff2") format("woff2");
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 237 30% 14%;
    --foreground: 60 30% 96%;
    --muted: 237 12% 18%;
    --muted-foreground: 237 12% 68%;
    --popover: 237 30% 11%;
    --popover-foreground: 0 0% 100%;
    --card: 237 30% 12%;
    --card-foreground: 0 0% 100%;
    --border: 237 20% 19%;
    --input: 237 20% 22%;
    --primary: 60 30% 96%;
    --primary-foreground: 60 30% 16%;
    --secondary: 60 20% 25%;
    --secondary-foreground: 60 20% 85%;
    --accent: 237 30% 29%;
    --accent-foreground: 237 30% 89%;
    --destructive: 7 80% 49%;
    --destructive-foreground: 0 0% 100%;
    --ring: 60 30% 96%;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .menu-button span {
    transform-origin: center;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  .menu-button.opened span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .menu-button.opened span:nth-child(2) {
    opacity: 0;
  }
  .menu-button.opened span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
