@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-display: swap;
  src: url("./../fonts/Inter-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: 500;
  font-display: swap;
  src: url("./../fonts/Inter-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-display: swap;
  src: url("./../fonts/Inter-Bold.woff2") format("woff2");
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --ring: 0 0% 83.1%;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  .menu-button span {
    transform-origin: center;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  .menu-button.opened span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .menu-button.opened span:nth-child(2) {
    opacity: 0;
  }
  .menu-button.opened span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  ::selection {
    @apply bg-slate-200  text-muted-foreground;
  }

  ::-webkit-scrollbar {
    @apply w-1 h-1;
  }

  ::-webkit-scrollbar-track {
    @apply p-2 bg-background;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-sm bg-gray-500;
  }

  textarea {
    min-height: 85px;
  }
  .theme-toggle {
    width: 50px;
    height: 24px;
    background-color: #4b5563;
    border-radius: 50px;
    padding: 2px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .theme-toggle::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    transition: transform 0.3s;
  }
  .theme-toggle.light {
    background-color: #d1d5db;
  }
  .theme-toggle.light::before {
    transform: translateX(26px);
  }

  @media screen and (max-width: 1200px) {
    #responsive-table,
    #responsive-table tbody,
    #responsive-table tfoot,
    #responsive-table tr,
    #responsive-table th,
    #responsive-table td {
      @apply block;
    }

    #responsive-table tr {
      @apply mb-[30px] border-b-0 bg-background;
    }

    #responsive-table tr:hover {
      @apply bg-inherit;
    }

    #responsive-table thead {
      display: none;
    }

    #responsive-table td {
      @apply relative ps-[170px] -mt-[1px] border-b border-muted-foreground/20;
    }

    #responsive-table td::before {
      @apply absolute left-0 top-0 bottom-0 p-3 flex items-center justify-center w-[145px] text-center content-[attr(data-label)] border-e border-muted-foreground/20;
    }
  }
}
