{% extends 'layouts/base.html.twig' %}

{% block title "En savoir plus sur le quiz #" ~ quiz.id %}

{% block body %}
<div class="container py-12">
  <div class="max-w-lg">
    <h2 class="text-base font-semibold text-gray-700 dark:text-gray-50 mb-4">
      {{ quiz.request }}
    </h2>
    <p class="text-muted-foreground text-sm ">
      {{ quiz.response }}
    </p>
  </div>
</div>
{% endblock %}