{% extends 'layouts/base.html.twig' %}

{% block title "Nous contacter" %}

{% block body %}
<div class="container py-12">
  <twig:Container>
    <twig:PageHeader class="mb-3" title="Nous contacter">
      Vous avez un problème technique ? Vous souhaitez envoyer des commentaires sur une fonctionnalité bêta ? Vous
      n’arrivez pas à vous connecter ? Faites-le-nous savoir.
    </twig:PageHeader>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5">
      <div>
        {% include "contact/_contact-use-info.html.twig" %}
      </div>
      <div class="lg:col-span-2 md:col-span-1">
        {% include "contact/_form-contact.html.twig" with {form: form} %}
      </div>
    </div>

  </twig:Container>
</div>
{% endblock %}