<h1>Hi!</h1>

<p>Pour réinitialiser votre mot de passe, veuillez visiter le lien suivant</p>

<a href="{{ url('forgot-password.reset', {token: resetToken.token}) }}">
  {{ url('forgot-password.reset', {token: resetToken.token}) }}
</a>

<p>This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData,
  'ResetPasswordBundle') }}.</p>

<p>Cheers!</p>