<div class="{{ attributes.all['class'] ?? '' }}">
    <h2 class="text-page">
        {{ title }}
    </h2>
    {% include "shared/separator.html.twig" with {className: 'my-4'} %}
    <p class="text-description">
        {% block content %}{% endblock %}
    </p>
</div>