{% extends 'layouts/admin.html.twig' %}

{% block title "Ajouter un mode paiement" %}

{% block body %}
<twig:Card>
  <div class="max-w-lg mb-4">
    <h1 class="mb-3 text-base font-semibold text-slate-700 dark:text-gray-300">
      Ajouter un mode paiement
    </h1>
  </div>

  {% include "admin/pay-method/_form.html.twig" with {form: form} %}

</twig:Card>
{% endblock %}