<form action="{{ path('app_logout') }}" method="POST">
  <input type="hidden" name="_token" value="{{ csrf_token('logout') }}">
  <button type="submit" class="w-full text-start block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 outline-none">
    Se déconnecter
  </button>
</form>