<a href="{{ homeUrl }}" title="logo du site" class="flex items-center  font-medium text-base">
    <i class="bi bi-qr-code-scan text-xl text-primary me-2 font-bold"></i>
    <span class="text-muted-foreground">Quick</span>
    <span class="text-gray-700">Check</span>
</a>