<div class="relative flex h-8 w-8 cursor-pointer shrink-0 overflow-hidden rounded-full">
  {# <img class="aspect-square h-full w-full" src="" alt=""> #}
  <p class="flex h-full w-full items-center justify-center rounded-full bg-muted text-sm uppercase font-medium">
    {{ user.username|u.truncate(2, '') }}
  </p>
</div>