{% set orientation = 'horizontal' %}

{% if orientation == 'vertical' %}
<div class="shrink-0 bg-border h-full w-[1px] {{ className }}"></div>
{% else %}
<div class="shrink-0 bg-border h-[1px] w-full {{ className }}"></div>
{% endif %}