<div class="flex space-x-4">
  <a target="_blank" href="https://api.whatsapp.com/send/?phone=243820645973&text&type=phone_number&app_absent=0"
    class="text-green-500 hover:text-green-600 text-xl">
    <i class="bi bi-whatsapp"></i>
  </a>
  <a target="_blank" href="https://x.com/Labeya_" class="text-gray-700 hover:text-gray-800 text-xl">
    <i class="bi bi-twitter-x "></i>
  </a>
  <a target="_blank" href="#" class="text-purple-500 hover:text-purple-600 text-xl">
    <i class="bi bi-twitch "></i>
  </a>
  <a target="_blank" href="https://github.com/laurentmwana" class="text-gray-500 hover:text-gray-600 text-xl">
    <i class="bi bi-github"></i>
  </a>
  <a target="_blank" href="https://www.tiktok.com/@laurent.mwana" class="text-gray-700 hover:text-gray-800 text-xl">
    <i class="bi bi-tiktok"></i>
  </a>
</div>