{% extends 'layouts/checker.html.twig' %}
{% block title "Tableau de bord" %}
{% block body %}
<twig:Card>
  <div class="max-w-lg mb-4">
    <h1 class="mb-3 text-base font-semibold text-slate-700 dark:text-gray-300">
      Tableau de bord
    </h1>
  </div>
</twig:Card>
{% endblock %}