{% extends 'layouts/base.html.twig' %}

{% block title "Documentation" %}

{% block body %}
<div class="container py-12">
  <twig:Container>
    <h2>Documentation</h2>
  </twig:Container>

</div>
{% endblock %}