{% extends 'layouts/base.html.twig' %}

{% block title "Documentation" %}

{% block body %}
<div class="container py-12">
  <div class="container-center">
    <twig:PageHeader class="mb-3" title="Documentation">
      Vous avez un problème technique ? Vous souhaitez envoyer des
      commentaires sur une fonctionnalité bêta ? Besoin de détails sur notre
      plan Business ? Faites le nous savoir.
    </twig:PageHeader>
  </div>

</div>
{% endblock %}